* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1c4141: #1c4141;
  --color-535357: #535357;
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
}
body {
  font-family: "Rubic", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

/* Header part */

.header-top-strip {
  background-color: var(--color-1c4141);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-upper {
  background-color: var(--color-131921);
}
.header-upper .input-group-text {
  background-color: #febd69;
}

.header-upper.header-upper-links a img {
}

.header-bottom {
  background-color: var(--color-3b4149);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  transform: translate3d(0px, 57px, 0px) !important;
  width: 100%;
}

.dropdown-item:hover {
  color: var(--color-131921) !important;
}
/* Header part end*/

/*Footer part start*/

footer {
  background-color: var(--color-232f3e);
  background-color: var(--color-535357);
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer.top-footer {
  background-color: var(--color-232f3e);
}

footer.last-footer {
  background-color: var(--color-3b4149);
}

/*Footer part end*/
/*

*/
.container-xxl {
  width: 100%;
}

/* Product Display Section */
.product-container {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: var(--color-1c4141);
}

.product-description {
  margin-top: 10px;
}

.toCart {
  background-color: var(--color-1c4141);
  color: #fff;
  border: 2px solid var(--color-1c4141);
  min-width: 100px;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.toCart:hover {
  background-color: #fff;
  color: var(--color-1c4141);
  /border-color: var(--color-1c4141);
}

/* Product Display Section End */

.cart {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
}

.cart h1 {
  font-size: 24px;
  font-weight: bold;
}

.cart .checkout {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart .checkout p {
  font-size: 18px;
}

.cart button {
  background-color: var(
    --color-1c4141
  ); /* Set your desired button background color */
  color: #fff; /* Set your desired button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cart button:hover {
  background-color: #333; /* Set your desired button hover background color */
}

.cart {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
}

.cart h1 {
  font-size: 24px;
  font-weight: bold;
}

.cart .checkout {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.cart .checkout p {
  font-size: 18px;
}

.cart button {
  background-color: var(
    --color-1c4141
  ); /* Set your desired button background color */
  color: #fff; /* Set your desired button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cart button:hover {
  background-color: #333; /* Set your desired button hover background color */
}
